*{
    font-family: 'Hammersmith One', sans-serif;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fondo{
    margin-left: 5%;
    width: 90%;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: white;
}

.fondo .cuadro{
    width: 90%;
    margin-left: 5%;
    background: #E32F30;
    margin-top: 2%;
    padding: 15px;
    display: flex;
    box-shadow: -5px 5px 10px 0px #bfbfbf;
}

.fondo .cuadro .imgPeli img{
    width: 150px;
}

.fondo .cuadro .contentPeli{
    margin-left: 3%;
}

.botonreserva{
    display: flex;
    height: 50px;
    padding: 0;
    background: #EC8033;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-weight: 300;
    transition: all .5s ease;
    bottom: 0;
    float: right;
}

.botonreserva:hover{
    background: #E32F30;
}

.textobtn, .iconitobtn{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
    letter-spacing: 1px;
    font-size: 20px;
}

