body {
    font-family: 'Hammersmith One', sans-serif;
    background-image: url("/imgs/genshin-impact-recuerdos-chongyun-final-no-hay-mal-que-por-bien-no-venga.jpg");
}

    /* HEADER */

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    transition: 0.5s;
}

.logo{
    height: 60%;
}

.header-item{
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: #571a1a;
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.login{
    padding: 10px 24px;
    border-radius: 30px;
    background-color: grey;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.login:hover{
    text-decoration: none;
    color: aquamarine;
    background-color: brown;
}

.header-item:hover{
    text-decoration: none;
    color: cornflowerblue;
}

.prueba{
}

a{
    text-decoration: none;
}