/*color palette:
red: #e32f30
orange: #f0a935
gray: #6c6c6c
 */


body {
    font-family: 'Hammersmith One', sans-serif;
    background-image: url("/imgs/fondo.jpg");
    background-size: cover;
}

    /* HEADER */

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    transition: 0.5s;
}

.logo {
    height: 60%;
    transition: 0.5s;
}


.header-item{
    margin: 0 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
    color: white;
    letter-spacing: 1px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.login{
    padding: 10px 24px;
    border-radius: 30px;
    background-color: #f0a935;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}

.login:hover{
    color: white;
    background-color: #e32f30;
}

.header-item:hover{
    color: #f0a935;
}

a{
    text-decoration: none;
    color: inherit;
}