/*color palette:
red: #e32f30
orange: #f0a935
gray: #6c6c6c
 */


body {
    font-family: 'Hammersmith One', sans-serif;
    background-image: url("/imgs/fondo.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

    /* HEADER */

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    transition: 0.5s;
}

.logo{
    height: 60%;
    transition: all 1s ease;
}

.logo:hover{
   -webkit-transition: all .3s ease;
   -moz-transition: all .3s ease;
   transition: all .3s ease;
    cursor:pointer;
}


.item{
    margin: 0 1rem;
    font-weight: 400;
    cursor: pointer;
    color: white;
    letter-spacing: 1px;
        transition: 0.5s;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.login-header{
    padding: 10px 24px;
    border-radius: 30px;
    background-color: #f0a935;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}

.login-header:hover{
    color: white;
    background-color: #e32f30;
}

.item:hover{
    color: #f0a935;
}

a{
    text-decoration: none;
    color: inherit;
}

.prueba{
    height:2000px;
}