/*
#E32F30

#E75832

#EC8033

#F0A935


*/


*{
font-family: 'Hammersmith One', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
}

.wrapper{
    overflow: hidden;
    max-width: 390px;
    background: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.titulos{
    display: flex;
    width: 200%;
}

.titulo{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sliderform{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.slide{
    height: 100%;
    width: 100%;
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}
.sliderform .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #E32F30, #E75832);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"]{
    display: none;
}

#sign_upRadio:checked ~ .slider-tab{
    left: 50%;
    background: -webkit-linear-gradient(right, #E32F30, #E75832);
}

#sign_upRadio:checked ~ label.signup{
    color: white;
}

#sign_upRadio:checked ~ label.login{
    color: black;
}

#login_radio:checked ~label.signup{
    color: black;
}

#login_radio:checked ~label.login{
    color: white;
}

.wrapper .form-container{
    width: 100%;
    overflow: hidden;
}
.form-container .dentro-form{
    display: flex;
    width: 200%;
}

.form-container .dentro-form form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.texto{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.texto input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
    font-size: 18px;
    transition: all 0.3s ease;
}

 .texto input:focus{
    border-color: #f0a935;
}

.texto input:focus::placeholder{
    color: lightgrey;
    transition: all 0.3s ease;
}

.dentro-form form .link{
    text-align: center;
    margin-top: 30px;
}

.link a{
    text-decoration: none;
    color: #f0a935;
}

.link a:hover{
    border-bottom: 1px solid;
}

.boton{
    margin-top: 30px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all 0.6s ease;
}

.boton .boton-layer{
    height: 100%;
    width: 100%;
    position: absolute;
    left: -100;
    background: -webkit-linear-gradient(top, #E32F30, #E75832);
    border-radius: 5px;
    transition: all 0.6s ease;
}

form .boton:hover .boton-layer{
  left: 0;
   background: -webkit-linear-gradient(top, #EC8033, #F0A935);
   transition: all 0.6s ease;
}

form .boton input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.6s ease;
}



