*{
    font-family: 'Hammersmith One', sans-serif;
}

.fondo{
    place-content: center;
    display: flex;
    padding-top: 30px;
}

h2{
    font-size: 30px;
    z-index: 2;
}

.perfil{
    padding: 30px;
    display: flex;
    background: lightgray;
    width: 50%;
    margin-right: 2%;
    border-radius: 10px;
    border: 3px solid black;
}

.perfil img{
    height: 100%;
}

.emails{
    margin-left: 6%;
    display: inline;
    font-size: 25px;
}

.email{
    margin-top: 30px;
}

.bdd{
    margin-top: 15px;
}

.listareservas{
    margin-top: 3%;
    border: 2px solid black;
    padding: 30px;
    width: 87%;
    background: lightgray;
    border-radius: 20px;
}

.nosexd{
    width: 30%;
    height: 180px;
    padding: 30px;
    border-radius: 20px;
    border: 5px solid black;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0.8)), url("/imgs/38c492c1973da3210ac7afc1998d9495.png");
    background-size: cover;
}

.nosexd img{
    height: 50px;
}

.reservas{
    width: 100%;
}

.cuadro{
    background: white;
    padding: 30px;
    display: flex;
    border: 3px solid black;
    border-radius: 20px;

}


.botonydiv img{
    height: 200px;
    margin-right: 30px;
}

.botones{
    display: flex;
}

.botones button{
    margin-right: 50px;
    margin-top: 5%;
    background: -webkit-linear-gradient(top, #E32F30, #E75832);
    border-radius: 5px;
    transition: all 0.6s ease;
    padding: 15px 50px;
}

.botones button:hover {
    left: 0;
    background: -webkit-linear-gradient(top, #EC8033, #F0A935);
    transition: all 0.6s ease;
}